[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
alice = "FiRSw9N8PaJM9fnwAzrpwsCfSMdjKfzffMC2xzx1QSh7"
bob = "3jYj2YR6oTaKSduoiAvs6CeV6Y8QFuyvdxDXBYHeKgRB"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
